$color-vendedor-primario : #BC6C25;
$color-vendedor-secundario: #DDA15E;

$color-comprador-primario: #283618;
$hover-comprador-primario: #33451e;
$color-comprador-secundario: #606C38;
$hover-comprador-secundario: #70803E;

$color-blanco: #fff;

$color-para-fondos: #FEFAE0;
// $color-fondo : #eee;;