.container-vendedor {
    .list-group-item {
        background: none;
    }
    .card-body {
        padding: 1rem;
        .form-row {
            margin: 2rem 0 2rem 0;
        }
        label {
            font-size: unset;
        }
        p {
            color: $color-vendedor-secundario;
        }
    }

    img {
        max-width: 50vh;
        max-height: 50vh;
    }

    
    .vendedor-scroll {
        overflow-y: auto;
        height: 584px;
        scrollbar-color: $color-vendedor-secundario transparent;
        scrollbar-width: auto;
        scrollbar-gutter: stable;
        

        // &::-webkit-scrollbar {
        //     width: auto;
        // }

        // &::-webkit-scrollbar-track {
        //     background:transparent;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background: $color-vendedor-secundario;
        //     border-radius: 5px; 
        // }

        // &::-webkit-scrollbar-thumb:hover {
        //     background: $color-vendedor-primario;
        // }
    }
}
