$color-vendedor-primario : #BC6C25;
$color-vendedor-secundario: #DDA15E;

$color-comprador-primario: #283618;
$hover-comprador-primario: #33451e;
$color-comprador-secundario: #606C38;
$hover-comprador-secundario: #70803E;

$color-blanco: #fff;

$color-para-fondos: #FEFAE0;
// $color-fondo : #eee;;


$image-rol: "https://lh3.googleusercontent.com/drive-viewer/AKGpihbaCy_pTkUOhMffJ2gNJdeafnpUg-znk9VrtF_DiNqClIP1m9tXQIU_ZaDn7LTu4f1qsi4_SET4eMVY61p9U3d3Q9Z3NDMoImw=w1920-h965-rw-v1";
$default-avatar: "https://lh3.googleusercontent.com/drive-viewer/AKGpihYVKuxiNrVgjma-ISqJ1CRZHQZ-Z4Jk5BCxJ6ze627neDniNHfyaO6qcSS6oiOb9oNKppBOJkzBbUrtSZ_5APBo_ALXPvzMH24=w1920-h965-rw-v1";
$default-product:"https://lh3.googleusercontent.com/drive-viewer/AKGpihZ0UBAp08RDRMzGL4UZHSpCTsycqFzQuKT5bFAOeAL8aK_dW3_XfG_qyCfmdeNOT6zebP3QKTqpgqEFCw2wL9SQeWJkyJFgTbY=w1920-h965";